.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    background: url('../../Media/black-brick-wall-textured-background.jpg') no-repeat;
    background-size: 100%;
}

.home-slideShow-infoPanel{    
    border-radius: 30px;
    background-color: white;
    margin-left: 7vw;
    width: 40vw;
    height: 70vh;
    opacity: 40%;
}

.home-Photo-Panel{
    background-color: white;
    margin-right: 3vw;
    width: 40vw;
    height: 100%;
    opacity: 40%;
}