.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.inputCard{
    display: flex;
    flex-direction: column;
    margin: 10px;  
}

.buttonsInputCard{
    display: flex;
    justify-content: space-between;
}