.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.post-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: brown;    
}

.post-input-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;
    background-color: brown;
}

.post-input-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
